.find-parts-section {
  background-image: url('../../assets/img/homePageBG.svg');
  background-size: cover;
  background-position: center;
  height: 471px;
  display: flex;
  align-items: center;
  padding: 16px 49px;
}

.search-box-home-page {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  width: 710px;
  height: 391px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.search-box-home-page h1 {
  font-size: 71px;
  color: #FF0000;
  margin-bottom: 24px;
  font-weight: 700;
}

.search-input-wrapper-home-page {
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 70px;
  padding: 14px 23px;
  margin-bottom: 20px;
  height: 60px;
}

/* .search-icon-home-page {
  font-size: 18px;
  color: #000000;
  margin-right: 8px;
} */

.search-input-home-page {
  border: none;
  flex-grow: 1;
  font-size: 16px;
  outline: none;
}

.search-button-home-page {
  background-color: #D61F26;
  color: white;
  border: none;
  padding: 14px 59px;
  border-radius: 70px;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 25px;
  height: 60px;
  width: 153px;
}

.powered-by {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
}

.lightning-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

:where(.css-dev-only-do-not-override-1v5z42l).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: none !important;
}

.find-parts-section .ant-select-focused .ant-select-selector {
  box-shadow: none !important;
}

.ant-select-selection-placeholder {
  color: #000000 !important;
}

/* Responsive */
@media (max-width: 768px) {
  .search-box-home-page {
    padding: 24px 20px;
    text-align: center;
  }

  .search-box-home-page h1 {
    font-size: 24px;
  }

  .search-input-wrapper-home-page {
    flex-direction: row;
    padding: 10px 16px;
  }

  .search-button-home-page {
    width: 100%;
  }

  .powered-by {
    justify-content: center;
  }
}
